<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RedditClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27BC8991213F37C50008A3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27BC89A5213F37C50008A3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27BC89B0213F37C50008A3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
